<center>
  <object type="application/x-shockwave-flash" data="/flash/jeffbanner.swf" width="500" height="112">
    <param name="movie" value="/flash/jeffbanner.swf" />
  </object> 
</center>

<br />
<b>Jeff L. Crowe</b><br />
On-line Portfolio: <a href="http://www.jeffcrowe.org">www.jeffcrowe.org</a><br />
Email: <a href="mailto:jeffcrowe@roadrunner.com">jeffcrowe@roadrunner.com</a><br />
Phone: (818) 760-9746<br />
<br />
<b>OFFERING</b><br />
Versatile, resourceful Digital Graphics Designer and Animation Artist with over 12 years of experience orchestrating all aspects of visual design projects, including development, branding, packaging and marketing.  Innovative strategist that translates graphic art talents into compelling and high-quality products to bring visual life to ideas on time and within budget.  Committed whether working independently or to open collaboration with team, clients, and management.  Success managing multiple tasks simultaneously while quickly learning and implementing new approaches and technical skills.<br />
<br />
<b>GRAPHIC SOFTWARE EXPERIENCE</b><br />
3D Studio Max, Flash MX, QuarkXpress, Discreet Reactor, Adobe Premier, Power Point, PhotoShop, Adobe Acrobat, Sonic Foundry Deluxe Video Factory, Illustrator, After Effects, Character Studio<br />
<br />
<b>KEY SKILLS</b>
<ul>
  <li>Conceptual Creation and Design of Advertisments</li>
  <li>Creation and Design of Custom Logos</li>
  <li>Developing Designs for Innovative Brochures, Promotional Flyers, Invitations and Post Cards</li>
  <li>Design of Personal Business Cards</li>
  <li>Web Design Graphics</li>
  <li>Flash Animation and Web Design</li>
  <li>Designing Icons</li>
  <li>3D Modeling and Animation for DVD and Commercial Use</li>
  <li>Production of  Entertainment and Corporate Materials</li>
  <li>Digital Photography</li>
  <li>Digital Photo  Manipulation</li>
</ul>
<br />
<b>DELUXE MEDIA MANAGEMENT</b><br />
March 2002 - present<br />
Manager of Creative Services<br />
<br />    
Employed by the Marketing Department to implement an in-house advertising service.  Focusing on conceptualizing and producing innovative designs and themes for clients and our own marketing needs.  Actuating significant savings in time and out of pocket expense by alleviating the need for contractual Advertising Agencies.  While designing and developing ideas for the Marketing Department, I provided web mock-ups and graphic components to the web team for clients as well as Deluxe’s web site, www.bydeluxe.com.  Created promotional materials and provided graphic support to other departments using different types of graphical mediums. All have resulted in proficient productivity with delivery of completed projects in a timely manner.<br />
<br />
Reliable and Accommodating: The Director of Interactive called one Friday afternoon from the MIPTV convention in France, 2002.  There was a major error on 20 DVD Discs for our client at 20th Television.  The DVD’s needed to be corrected before the opening on Tuesday morning.  We found and resolved the problem, which took most of Friday evening through Saturday afternoon.  Over the rest of weekend, I burned, QA’d, printed labels, and packaged 25 corrected DVD’s in time for the convention.<br />
<br />
Multi-tasking Capabilities with Quality and Timely Performance:  Recently a very important advertisement had to be created using innovative and eye-catching graphics in a very short turnaround time.  Simultaneously the Interactive Department asked me to develop designs for a client’s web page as an alternative to designs provided by other contract artists.  The clients selected my designs over the contractor’s designs.  Allowing the work to remain in-house rather than contracting it out, resulted in savings to the Interactive Department.  Additionally, accomplishing a quality advertisement by its tight deadline.<br />
<br />
<b>VISION ENTERTAINMENT/INTERACTIVE</b><br />
March 1999 - March 2002<br />
Manager of Creative Services<br />
<br />
Designed, developed and delivered multiple projects while allowing Vision to continuously provide clientele with expedient personal service.   The range of computer graphics included ad layouts, custom brochures and logos, 3D modeling &amp; animation for DVD and flash animation for commercial and web use.<br />
<br />
Spontaneous Graphic Designs and Promotions: During a meeting with a potential client, I was requested by the CEO to create on-the-spot custom logos every 10 to 15 minutes using the agency’s name.  At the end of the hour-long meeting, five logos were created demonstrating a facet of our company’s creative services.<br />
<br />
Team Player and Troubleshooting Abilities: The CEO’s Assistant came to me with a "Request for Proposal" with numerous errors.  I scanned the six pages, and used Photoshop to cut and paste the corrections.  Presented the corrected document to the assistant who was then able to complete the task with a quality product on schedule.<br />
<br />
Ability to Provide Special Projects at Minimal Cost: Digitally photographing each individual I created identification badges for over 100 employees as a security enhancement after September 11th.  Eliminating the need for contractual expenditure.<br />
<br />
<b>FREELANCE GRAPHIC ARTS WORK</b><br />
October 1996  - March 1999<br />
<br />
<b>TSUNAMI MEDIA</b><br />
May 1993 - October 1996<br />
Lead Animator<br />
<br />
Created 2D computer graphic animation and corrected 2D background on adventure games.  Promoted to lead animator on "Return to Ringworld" and recreated character designs and animating concepts. Saved struggling company the cost of two full time artists by taking full responsibility of designing and animating the art for a new simulation game "Free Enterprise" (was very popular in Europe).<br />
<br />
<b>SIERRA ONLINE</b><br />
August 1988 - April 1993<br />
Animator<br />
<br />
Created 2D animations and backgrounds. Responsible for creating video captures of actors and converting their actions into animation strips.  For the revised version of the game "Kings Quest," I was given complete responsibility for redesigning and animating all characters of the game. My work saved the company the need to hire extra animators for the project. Other projects included: 
<ul>
  <li>Quest for Glory  1, Quest for Glory 1 (revised), Quest for Glory 3</li>
  <li>Kings Quest 1 (revised), Kings Quest 5</li>
  <li>Space Quest</li>
  <li>Eco Quest</li>
  <li>Freddie Pharkas Frontier Pharmacist</li>
</ul>

<b>References Willingly Supplied</b><br />
<br />
To view Portfolio, please refer to: <a href="http://www.jeffcrowe.org">www.jeffcrowe.org</a>
