<center>
  <object type="application/x-shockwave-flash" data="/flash/jeffbanner.swf" width="500" height="112">
    <param name="movie" value="/flash/jeffbanner.swf" />
  </object>
</center>

<br />
<b>Jeff L. Crowe</b><br />
On-line Portfolio: <a href="http://www.jeffcrowe.org">www.jeffcrowe.org</a><br />
Email: <a href="mailto:jeffcrowe@roadrunner.com">jeffcrowe@roadrunner.com</a><br />
Phone: (818) 760-9746<br />
<br />
<b>OFFERING</b><br />
Versatile, resourceful Digital Graphics Designer and Animation Artist with over 12 years of experience orchestrating all aspects of visual design projects, including development, branding, packaging and marketing.  Innovative strategist that translates graphic art talents into compelling and high-quality products to bring visual life to ideas on time and within budget.  Committed whether working independently or to open collaboration with team, clients, and management.  Success managing multiple tasks simultaneously while quickly learning and implementing new approaches and technical skills.<br />
<br />
<b>GRAPHIC SOFTWARE EXPERIENCE</b><br />
Photoshop CS3, Illustrator CS3, InDesign CC, Flash, Acrobat, 3D Studio Max, Premiere, PowerPoint, After Effects, MS Office, Character Studio, HTML, Cannon Slide Scanner, Sonic Foundry Deluxe Video Factory, Discreet Reactor, Cinema Craft Reneat / RST, Correct DRS MTI, Digital Vision's Phoenix DVO, QuarkXpress, Character Studio<br />
<br />
<b>KEY SKILLS</b>
<ul>
  <li>Conceptual Creation and Design of Advertisments</li>
  <li>Creation and Design of Custom Logos</li>
  <li>Developing Designs for Innovative Brochures, Promotional Flyers, Invitations and Post Cards</li>
  <li>Design of Personal Business Cards</li>
  <li>Web Design Graphics</li>
  <li>Flash Animation and Web Design</li>
  <li>Designing Icons</li>
  <li>3D Modeling and Animation for DVD and Commercial Use</li>
  <li>Production of  Entertainment and Corporate Materials</li>
  <li>Digital Photography</li>
  <li>Digital Photo  Manipulation</li>
</ul>