a {
  text-decoration:none;
  font-weight:bold;
  color: #069;
}

a:Hover {
  text-decoration:underline;
  color: #06f;
}

* {
  font-family: tahoma,verdana,arial,helvetica,sans-serif
}

html, body {
  padding: 0px;
  margin: 0px;
}

#header {
  background-position: top;
  background-repeat: top;
  background-image: url(/images/layout/headerstripe.jpg);
  height: 80px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 290px;
  text-align: right;
}

h1.page_title {
  font-weight: bold;
  font-style: italic;
}

#content {
  padding-left: 20px;
  padding-right: 290px;
  padding-bottom: 20px;
}

#sidebar {
  top: 0px;
  right: 0px;
  width: 279px;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
  padding-top: 0px;
}

#sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 20px 0px 0px;
}

a.fancybox, a.various { margin: 5px; }

footer {
  color: #999;
  font-style: italic;
  margin: 40px 20px;
}

